<mat-card class="sidebar-card">
  <mat-action-list class="sidebar-list">
    <!-- <button [routerLink]="['/user-dashboard' , userId]" mat-list-item routerLinkActive="active-link"
      class="sidebar-item">
      <mat-icon mat-list-icon>home</mat-icon> Home
    </button> -->
    <button mat-list-item [routerLink]="['/user-dashboard', userId, 'profile' ]" routerLinkActive="active"
      class="sidebar-item">
      <mat-icon mat-list-icon>account_circle</mat-icon> Profile
    </button>
    <button mat-list-item [routerLink]="['/user-dashboard', userId, 'user-messages' ]" routerLinkActive="active"
      class="sidebar-item">
      <mat-icon mat-list-icon>notifications</mat-icon> Notifications
    </button>



    <button mat-list-item [routerLink]="['/user-dashboard', userId, 0]" routerLinkActive="active"
      class="sidebar-item">
      <mat-icon mat-list-icon>quiz</mat-icon> All Quizzes
    </button>

    <!-- <button [routerLink]="['/user-dashboard', userId, c.cid]" mat-list-item *ngFor="let c of categories"
      routerLinkActive="active-link" class="sidebar-item">
      <mat-icon mat-list-icon>quiz</mat-icon> {{ c.title }}
    </button> -->
  </mat-action-list>
</mat-card>