/* Main container */
.view-students-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Heading */
  .view-students-container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Loading and No students */

  .no-students {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
  }

  
 /* Spinner container to center the spinner */
.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically center the spinner */
    align-items: center;      /* Horizontally center the spinner */
    height: 50vh;            /* Full viewport height */
    font-size: 1.2rem;
    color: #7f8c8d;
    font-family: "Roboto", sans-serif;
  }
  
  /* Spinner styling */
  .spinner {
    border: 4px solid #f3f3f3; /* Light grey background */
    border-top: 4px solid #3498db; /* Blue color for the spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-bottom: 10px;
  }
  
  /* Spinner animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  /* Grid layout for students */
  .teacher-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
  
  /* Teacher card style */
  .teacher-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .teacher-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Profile image */
  .teacher-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  /* Teacher name */
  .teacher-name {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Teacher email */
  .teacher-email {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
  }
  
  /* Teacher ID */
  .teacher-id {
    font-size: 0.9rem;
    color: #999;
  }

    /* Delete button style */
.delete-student-button, .deactivate-student-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-student-button:hover {
    background-color: #c0392b;
  }
  
  
  
  /* Responsive layout */
  @media (max-width: 768px) {
    .view-students-container h2 {
      font-size: 1.8rem;
    }
  
    .teacher-grid {
      grid-template-columns: 1fr;
    }
  }
  