<div class="dashboard-container">
    <h2>Welcome, <span style="color: #7fc8ac;">Admin</span> </h2>

    <div class="cards-container">
        <!-- Number of Students Card -->
        <div class="card">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/group-college-university-students-hanging-out_74855-5251.jpg?w=1060" alt="Students">
            </div>
            <div class="card-content">
                <h3>Total Students</h3>
                <p>{{ numberOfStudents }}</p>
            </div>
        </div>
    
        <!-- Number of Teachers Card -->
        <div class="card">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/teacher-students-wearing-face-mask-class_52683-47666.jpg?w=1060" alt="Teachers">
            </div>
            <div class="card-content">
                <h3>Total Teachers</h3>
                <p>{{ numberOfTeachers }}</p>
            </div>
        </div>
    
        <!-- Number of Categories Card -->
        <div class="card">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/school-education-materials-composition_98292-8403.jpg?w=1060" alt="Categories">
            </div>
            <div class="card-content">
                <h3>Total Categories</h3>
                <p>{{ numberOfCategories }}</p>
            </div>
        </div>
    </div>

    <!-- Chart Container for Admin Analytics and Active vs Inactive Quizzes -->
  
</div>
